header.header   
  .header__contents
    .search__dropdown__btn#search__dropdown__btn 
      svg
        use(xlink:href=`/img/icons.svg#icon-search`)

    .mobile__search__dropdown#mobile__search__dropdown 
      form.form--search
        //- .form__group.ma-bt-md
        input#name-search-header.form__input(type='text', placeholder='name of game', required, minlength='1')
        //- .form__group
        button.btn#search-game 

    nav.nav.nav-tours
      a.nav__el(href="/") Gamurel
    .header__search
      form.form--search
        //- .form__group.ma-bt-md
        input#name-search-header.form__input(type='text', placeholder='name of game', required, minlength='1')
        //- .form__group
        button.btn#search-game 

    nav.nav.nav--user 
      if user
        //- a.nav__el.nav__el--logout Log out
        .profile-container
          //- a.nav__el(href=`/user/${user.username}`)
          //- button.nav__user-img#profile-dropdown-btn
          img.nav__user-img#profile-dropdown-btn(src=`/img/users/${user.photo}`, alt=`Photo of ${user.username}`)
          .profile-dropdown#profile-dropdown
              .nav-item
                span.profile-username= `${user.username}`
              ul.profile-dropdown-list
                li
                  a.nav-item(href=`/user/${user.username}`) profile 
                li
                  a.nav-item(href=`/me`) settings
                li
                  a.nav-item.nav__el--logout Log out
      else
        a.nav__el(href='/login') Log in
        //- a.nav__el.nav__el--cta(href='/signup') Sign up
