extends ../base


mixin activityCard(activity)
  hr
  div.activity-container
    h1
      //- a(href=`/user/${activity.user.username}`)= `${activity.user.username}`
    div.activity-card-game-container
      img.activity-card-image(src=`${activity.gameInfo.image.small_url}`, alt="")
      div
        h3 
          a(href=`/game/${activity.game}`)= `${activity.gameInfo.name}`
        h4= `${activity.experience}`
        if activity.rating 
          h4= `rating: ${activity.rating}`
        if activity.review 
          h4= `review: ${activity.review}`

mixin unfollowForm(followingId)
  form.form--unfollow
    input#followingId.form__input(type='hidden' value=followingId)
    button Unfollow

mixin followForm(selectedUserId)
  form.form--follow
    input#selectedUserId.form__input(type='hidden' value=selectedUserId)
    button Follow

mixin followButton(user,selectedUser)
  if !user
    a(href="/signup")  Sign in to follow
  else
    - const followingFound = user.following.find((element) => JSON.stringify(element.following) == JSON.stringify(selectedUser._id));
    if followingFound
      - const followingId = followingFound.id
      +unfollowForm(followingId)
    else 
      +followForm(selectedUser.id)



block content 
  h1= `${selectedUser.username}`
  +followButton(user, selectedUser)

  h2 Played 
    span= ` ${relationships.filter(rel => rel.experience ==='played').length}`
  h2 Want To Play 
    span= ` ${relationships.filter(rel => rel.experience ==='want-to-play').length}`

  h2 Recent Activity 
  - const relByDate = relationships.sort((a, b) => a.updatedAt - b.updatedAt)

  each relationship in relByDate 
    //- h3= `${relationship.gameInfo.name}`
    +activityCard(relationship)